@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

#msg-error-psw {
  line-height: 1.7;
  color: rgb(221, 97, 25);
  font-weight: 900;
}

p {
  font-size: 1.5rem;
}

h1 {
  font-weight: 600;
  text-align: center;
}
#title {
  padding: 1em;
  padding-bottom: 0%;
}
#account {
  margin-bottom: 5%;
}

#form-container {
  width: 90%;
  margin-right: 70px;
}

input.placeholders::placeholder {
  color: rgb(221, 97, 25);
}

.label {
  font-weight: 900;
}

.options {
  text-align: center;
}

.welcome {
  margin: 1em;
  padding: 1em;
  text-align: left;
  /* justify-content: center;
  flex-direction: column; */
}

.welcome-div {
  text-align: center;
  /* justify-content: center;
  flex-direction: column; */
}

@media (min-width: 500px) {
  #form-container {
    width: 60%;
    margin-right: 70px;
  }
}
@media (max-width: 500px) {
  #form-container {
    margin: auto;
  }
  #title {
    margin-left: 15%;
  }
}

#btn-register:hover {
  cursor: pointer;
  background: #00a6d2;
}

#btn-register {
  color: #212121;
  width: 100%;
  margin-top: 1em;
  font-weight: 900;
  border: double;
  margin-bottom: 40%;
}
